import { defineConfig } from 'vite';

export default defineConfig({
  root: '.',
  base: './',
  server: {
    open: true,  // Automatically open browser on `npm run dev`
    port: 3000,  // You can change the dev server port if you want
  },
  build: {
    outDir: 'dist',
    sourcemap: false,
  },
});
